* {
    box-sizing: border-box;
    font-family : 'Courier New', Courier, monospace;
} 

:root {
    background: #febcbc;
    color: #555;
background: radial-gradient(circle, transparent 20%, #e6e6ff 20%, #e6e6ff 80%, transparent 80%, transparent) 0% 0% / 32px 32px, radial-gradient(circle, transparent 20%, #e6e6ff 20%, #e6e6ff 80%, transparent 80%, transparent) 16px 16px / 32px 32px, linear-gradient(#4b5aff 2px, transparent 2px) 0px -1px / 16px 16px, linear-gradient(90deg, #4b5aff 2px, #e6e6ff 2px) -1px 0px / 16px 16px #e6e6ff;
background-size: 32px 32px, 32px 32px, 16px 16px, 16px 16px;
background-color: #e6e6ff;
}

body {
    max-width: 70ch;
    margin: 2em auto;
    line-height: 1.5;
}


h1,h2,h3 {
    color: #333
}

span {
    display: flex;
    gap: 1ch;
}

input, button {
    margin-top: 1ch;
}

input {
    appearance: none;
    border: 2px solid #ccc;
    background: transparent;
    padding: 1em;
    outline: none;
}

button {
    appearance: none;
    padding: 1ch 2ch;
    background: #0e3bff;
    border: 2px solid transparent;
    color: #fff;
    font-weight: bold;
}

input:focus, button:focus {
    border-color: #29b;
}


.btn-create {
    background: #4d7;
    font-weight: bold;
}


.btn-remove {
    background: #f38;
}


.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    background: #fff;

    border: 3px solid #0e3bff;
    border-radius: 1ch;
    box-shadow: 10px 10px #0e3bff;
}

.img-avatar {
    width: clamp(20ch, 50%, 40ch);
    padding: 1ch;
    border: 3px dashed #0e3bff;
    border-radius: 50%;
    margin-bottom: 1em;
}

.linkpage-name, .linkpage-username{
    margin: 0.5rem 0;
    line-height: 100%;
}

.linkpage-username:before {
    content: '@';
    margin: 0;
}

.links-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2ch;
    border: 1px solid #ccc;
    border-radius: 2ch;
    width: 100%;
    padding: 2ch;
}

.link {
    background: #efebec;
    padding: 1ch 2ch;
    border-radius: 1ch;
}

.link-title:before {
    content: '> ';
}

.link-url {
    color: #0e3bff;
    text-decoration: dotted;
}
