* {
    box-sizing: border-box;
} 

:root {
    font-family : Arial, Sans-serif;
    background: #ffffff;
    color: #555;
}

body {
    max-width: 50ch;
    margin: auto;
    margin-top: 2em;
    line-height: 1.5;

}

h1,h2,h3 {
    color: #333
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

span {
    display: flex;
    gap: 1ch;
}

input, button {
    font-family : Arial, Sans-serif;
    appearance: none;
    border: 1px solid transparent;
    border-radius: 2ch;
    background: #ececec;
    padding: 1em;
    outline: none;
}
input:focus, button:focus {
    border-color: #29b;
}

.input-create-form {
    border: 1px solid #ccc;
    background: transparent;
}

.btn-create {
    background: #4d7;
    color: #fff;
    font-weight: bold;
}


.img-avatar {
    width: clamp(20ch, 50%, 40ch);
    border-radius: 50%;
}

.linkpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

