* {
    box-sizing: border-box;    
}

:root {
    --background: #222222;
    --dark-gray:  #8a8a8a;
    --foreground: #bbbbbb;
    --link: #ff9999;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
}


p,a,h1,h2,h3,h4,h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--link);
    text-decoration: none;
}

.avatar {
    margin-top: 2em;
    width: 10em;
    height: auto;
    border-radius: 50%;
}

.content {
    margin: 50px 0px 50px 0px;
    border: 1px var(--foreground) solid;
    border-radius: 6px;
    padding: 24px;
    max-width: 80ch;
    margin-inline: auto;
    line-height: 1.5;
}

.user-name, .full-name {
    font-weight: normal;
    margin: 0;
}

.full-name {
    margin-top:1em ;
    color: var(--foreground);
}

.user-name {
    color: var(--dark-gray);
}

.bio {
    color: var(--dark-gray);
}

.links-container {
    display: grid;
}

.link {
    text-decoration: none;
    color: var(--foreground);
}

.link::before {
    content: '⯻ ';
    font-weight: bold;
    
}

