<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{config.extra.profile.name }} </title>
  <meta name="author" content="{{ config.extra.profile.name }}">
  <meta name=description content="Personal website of a web developer using zola static generator website.">
  <meta property="og:title" content="{{ config.extra.profile.name }}">
  <meta property="og:image" content="{{config.base_url ~ '/hello.png' }}">
  <meta property="og:description" content="Personal website of a web developer using zola static generator website.">
  <link rel="preload"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="preload" href="{{ get_url(path="style.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </noscript>
</head>

<body>
  <div class="app">
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      <span class="copyright">©</span>&nbsp;2021 - Nantes
    </footer>
  </div>
</body>
</html>
