{% extends "base.html" %}

{% block content %}
<div class="homepage">
  <div class="img-profile-wrapper">
    <div class="circle"></div>
    <img src="/{{ config.extra.profile.photo }}" alt="me" width="250" height="250">
  </div>
  <div class="content">

    <div class="content-title">
      {{ config.extra.profile.name }}
    </div>
    <div class="content-subtitle">
      <span class="font-medium"> {{ config.extra.profile.title }} </span>
      <span class="font-thin"> {{ config.extra.profile.about }} </span>
    </div>

    <div class="">
      {% for link in config.extra.links %}
        <div class="font-medium">
          <a href="{{ link.url }}" target="_blank" rel="noreferrer">
            {{ link.text }}
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="content-icons">
      {% for link in config.extra.socials %}
        <a title="{{ link.title }}" href="{{ link.url }}" target="_blank" rel="noreferrer">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
